name: Build iOS dylib

on: [push]

jobs:
  build:
    runs-on: macos-13
    steps:
    - uses: actions/checkout@v4

    - name: Build dylib
      run: |
        SDK=$(xcrun --sdk iphoneos --show-sdk-path)
        clang \
          -arch armv7 \
          -isysroot "$SDK" \
          -miphoneos-version-min=5.0 \
          -framework Foundation \
          -framework Security \
          -dynamiclib gdproxy.m \
          -o libgdproxy.dylib

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: libgdproxy.dylib
        path: libgdproxy.dylib
