name: Build iOS armv7 dylib

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y clang make cmake unzip

    - name: Download iPhoneOS9.3.sdk
      run: |
        wget -q https://github.com/xybp888/iOS-SDKs/releases/download/iOS-SDKs/iPhoneOS9.3.sdk.zip
        unzip -q iPhoneOS9.3.sdk.zip
        sudo mkdir -p /opt/ios-sdk
        sudo mv iPhoneOS9.3.sdk /opt/ios-sdk/

    - name: Build dylib (armv7)
      run: |
        SDK="/opt/ios-sdk/iPhoneOS9.3.sdk"
        clang \
          -arch armv7 \
          -isysroot $SDK \
          -miphoneos-version-min=5.0 \
          -framework Foundation \
          -framework Security \
          -dynamiclib gdproxy.m \
          -o libgdproxy.dylib

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: gdproxy-armv7
        path: libgdproxy.dylib
